// Sherpa navbar
.navbar-sherpa .navbar-toggle {
  margin-right: 0;
}

.navbar-sherpa {
  background-color: $sherpa-navbar-default-bg;
  border-color: $sherpa-navbar-default-border;
  margin-bottom: 0;

  .navbar-brand {
    color: $sherpa-navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-brand-hover-color;
      background-color: transparent;
    }
  }

  .navbar-text {
    color: $sherpa-navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $sherpa-navbar-default-link-color;
      letter-spacing: 1px;

      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-hover-color;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        //         color: $sherpa-navbar-default-link-active-color;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
        background-color: transparent;
      }
    }
  }

  .navbar-toggle {
    border-color: $sherpa-navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $sherpa-navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: #000;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border: 0;
    border-color: $sherpa-navbar-default-border;
    justify-content: center;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown

    @include media-breakpoint-down(xs) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $white;
          padding: 1em 0;

          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $sherpa-navbar-default-link-color;
    &:hover {
      color: $sherpa-navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $sherpa-navbar-default-link-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
      }
    }
  }
}

.top-header {
  padding: 0.5em 0;

  .navbar-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand {
    text-align: left;
  }

  div.navbar-right {
    ul {
      margin-left: auto;
    }
  }

  @include media-breakpoint-down(lg) {
    .navbar-button {
      padding-top: 5px;
      padding-bottom: 5px;
      background: #000;
    }
  }

  @media screen and (min-width: 1400px) {
    padding-left: 90px;
    padding-right: 90px;

    .navbar-button {
//       justify-content: center;
      align-items: flex-end;
    }
  }
}

.navbar-brand {
  width: 138px;
}

.navbar-nav {
  @include poppins();
  font-size: 12px;
}

@media screen and (min-width: 1600px) {
  .navbar-nav {
    > li {
      margin-left: 32px;
    }

    li:first-child {
      margin-left: 0;
    }
  }

  div.navbar-right,
  .navbar-brand {
    flex: 1;
  }
}

.navbar-right {
  line-height: 1;
  vertical-align: middle;
  color: $sherpa-dark-color;
  margin-bottom: 1em;

  em {
    @include chapman();
    font-size: 20px;
    text-transform: none;
  }

  li {
    display: flex;
    align-items: center;
    margin-left: 18px;

    a {
      color: $sherpa-dark-color;
      font-size: 30px;
      @include poppins();
      letter-spacing: 3px;

      &:hover {
        color: $sherpa-brand-primary;
      }
    }
  }
}

.navbar-brand img {
  max-width: 340px;
}

@include media-breakpoint-down(lg) {
  .top-header {
    padding: 0 0;
  }

  .navbar-right li:first-child {
    margin-left: 0;
  }

  .navbar-right .nav-link {
    font-size: 9px;
    letter-spacing: $letterSpacing;
  }

  .navbar-brand img {
    height: 43px;
  }

  .navbar-brand {
    flex: 0;
    position: absolute;
    left: 20px;
    top: 48px;
    z-index: 9999;
  }

  .navbar {
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 9999999;
    width: 100%;
  }

  .navbar-toggler {
//     position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
    margin-left: auto;
  }

  .navbar-sherpa {
    background: $sherpa-dark-color;
    padding: 0 0;
  }
}

@include media-breakpoint-up(sm) {
  .dropdown-menu > li > a {
    font-weight: 600;
    padding: 1em;
    text-align: left;
  }

  .dropdown-menu {
    background: #000;
    text-align: left;
  }
}

.dropdown-menu {
  border: 0;
}

@include media-breakpoint-up(lg) {
  .navbar-sherpa li.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
  }
}

  .navbar-sherpa {
    padding-top: 20px;
    padding-bottom: 20px;
    outline: none; 
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: $sherpa-dark-color;
  }

  @include media-breakpoint-down(lg) {
    .navbar-sherpa {
      padding-top: 12px;
      padding-bottom: 12px;
      background: $white;
      z-index: 1;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {
     .navbar-dark .navbar-nav .nav-link {
      color: $sherpa-dark-color;
    }
  } 

  @include media-breakpoint-down(md) {
    #menu-primary {
      background: $sherpa-dark-color;
      margin-top: 8px;
    }
  }
 

@include media-breakpoint-down(lg) {
  .navbar-dark .navbar-toggler-icon {
    @include navbar-toggler(211E1F);
  }

//   .navbar-dark [aria-expanded="true"] .navbar-toggler-icon {
//     @include navbar-toggler(ffffff);
//   }
}

@include media-breakpoint-down(lg) {
  .navbar-right {
    margin-bottom: 0;
    margin-left: auto;
    
    li.menu-item {
      a {
        float: left;
        span {
          text-indent: -9999px;
          display: none;
        }
      }

      &.directions a {
        @include svg-map(1eaf52);

        &:hover {
          @include svg-map(1eaf52);
        }
      }

      &.contact a {
        @include svg-contact(1eaf52);
        margin-right: 0;

        &:hover {
          @include svg-contact(1eaf52);
        }
      }

      &.directions:after {
        color: #fff;
      }
    }
  }
}

.internal .navbar-right {
  em, a {
    font-size: 15px; 
    @include montserrat();
    font-style: normal;
    letter-spacing: 0;
    font-weight: 300;
  }
}
