

#footer {
  padding: 2em 0;

  .navbar-brand {
    display: block;
    width: 151px;
  }

  span.title {
    @include big-caslon();
    font-style: italic;
    font-size: 23px;
  }

  .flex-zero {
    flex: 0;
  }

  .container {
    max-width: 1480px;
  }

 a {
    color: #606060;

    &:hover {
      color: $sherpa-brand-primary;
    }
  }

  a:first-child {
    display: inline-block;
    margin-right: 20px;
  }

  @include media-breakpoint-down(lg) {
    text-align: center;

   

    .flex-col {
      justify-content: center;
    }


    .navbar-brand {
      margin: 0 auto;
      width: auto;

      img {
        height: 50px;
      }
    }

    span.title {
      font-size: 17px;
    }
  }
}


.sub-footer {
  background: $sherpa-dark-color;
  color: $white;
  text-align: center;
  padding: 1em 0;

  p {
      @include roboto();
      margin-bottom: 0;
      font-size: 14px;
    }

  .col {
    display: flex;
    align-items: center;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    max-width: 1480px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 9px;
    text-align: center;
    margin-top: 2em;

    .copyright {
      text-align: center;

      p {
        margin: 0 auto;
        margin-bottom: 0;
      }
    }
  }
} 



#map {
  height: 181px;
}