.top-header {
    background: #fff;
    color: $white;

    &.internal {
        background: #50535B;
    }
}

.social-media {
    display: flex;
    margin-bottom: 0;

    li {

      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }
}
