#footer {
  padding: 2em 0;

  

  .navbar-brand {
    display: block;
    width: 151px;
  }

  span.title {
    @include big-caslon();
    font-style: italic;
    font-size: 23px;
    margin-bottom: 0.5em;
    display: block;
  }

  .flex-zero {
    flex: 0;
  }

  .container {
    max-width: 1280px;
  }

  a {
    color: #606060;

    &:hover {
      color: $sherpa-brand-primary;
    }
  }

  a:first-child {
    display: inline-block;
    margin-right: 20px;
  }

  .col {
    position: relative;
  }

  .row {
    position: relative;
  }

  @include media-breakpoint-up(lg) {

    .h2 {
      font-size: 44px;
      letter-spacing: 2px;
    }

    .col.borders {
      position: relative;
    }

    .col.borders::after {
      content: "";
      width: 1px;
      height: 75%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #6d707c;
    }
  }

  @include media-breakpoint-down(lg) {
    text-align: center;

    p {
      font-size: 11px;
    }

    .h2 {
      font-size: 24px;
    }

    img {
      margin-bottom: 1em;
    }

    .flex-col {
      justify-content: center;
    }

    .navbar-brand {
      margin: 0 auto;
      width: auto;

      img {
        height: 50px;
      }
    }

    span.title {
      font-size: 17px;
    }
  }
}

.sub-footer {
  background: $sherpa-dark-color;
  color: $white;
  text-align: center;
  padding: 1em 0;

  p {
    @include roboto();
    margin-bottom: 0;
    font-size: 14px;
  }

  .col {
    display: flex;
    align-items: center;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    max-width: 1280px;
  }

  .copyright {
    justify-content: flex-end;
  }

  @include media-breakpoint-down(lg) {
    font-size: 9px;
    text-align: center;
    margin-top: 2em;

  

    .copyright {
      text-align: center;
      justify-content: center;

      p {
        margin: 0 auto;
        margin-bottom: 0;
      }
    }
  }
}

#map {
  height: 181px;

   @include media-breakpoint-down(lg) {
      height: 118px;
   }
}
