// Sherpa navbar
.navbar-sherpa .navbar-toggle {
  margin-right: 0;
}

.navbar-sherpa {
  background-color: $sherpa-navbar-default-bg;
  border-color: $sherpa-navbar-default-border;
  margin-bottom: 0;

  .navbar-brand {
    color: $sherpa-navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-brand-hover-color;
      background-color: transparent;
    }
  }

  .navbar-text {
    color: $sherpa-navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $sherpa-navbar-default-link-color;

      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-hover-color;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        //         color: $sherpa-navbar-default-link-active-color;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
        background-color: transparent;
      }
    }
  }

  .navbar-toggle {
    border-color: $sherpa-navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $sherpa-navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: #000;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border: 0;
    border-color: $sherpa-navbar-default-border;
    justify-content: center;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown

    @include media-breakpoint-down(xs) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $white;
          padding: 1em 0;

          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $sherpa-navbar-default-link-color;
    &:hover {
      color: $sherpa-navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $sherpa-navbar-default-link-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
      }
    }
  }
}

.top-header {
  padding: 0.5em 0;

  .navbar-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand {
    text-align: left;
  }

  div.navbar-right {
    ul {
      margin-left: auto;
    }
  }

  @media screen and (min-width: 1400px) {
    padding-left: 90px;
    padding-right: 90px;

    .navbar-button {
      justify-content: center;
    }
    
  }
}

.navbar-brand {
  width: 138px;
}

.nav-link {
  letter-spacing: $letterSpacing;
}

@media screen and (min-width: 1600px) {
  .navbar-nav {
    @include acumin();

    > li {
      margin-left: 32px;
    }

    li:first-child {
      margin-left: 0;
    }

  }

  div.navbar-right,
  .navbar-brand {
    flex: 1;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
}

.navbar-right {
  line-height: 1;
  vertical-align: middle;

  li {
    display: flex;
    align-items: center;
    margin-left: 18px;

    a {
      color: $white;

      &:hover {
        color: $sherpa-brand-primary;
      }
    }
  }
}

.navbar-brand img {
  max-width: 150px;
}

@include media-breakpoint-down(lg) {
  .top-header {
    padding: 0 0;
  }

  .navbar-right li:first-child {
    margin-left: 0;
  }

  .navbar-right .nav-link {
    font-size: 9px;
    letter-spacing: $letterSpacing;
  }

  .navbar-brand img {
    height: 30px;
  }

  .navbar-brand {
    flex: 0;
  }

  .navbar {
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 9999999;
    width: 100%;
  }

  .navbar-toggler {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
  }

  .navbar-sherpa {
    background: $sherpa-dark-color;
    padding: 0 0;
  }
}


@include media-breakpoint-up(sm) {
  .dropdown-menu>li>a {
    font-weight: 600;
    padding: 1em;
    text-align: left;
  }

  .dropdown-menu {
    background: #000;
    text-align: left;  
  } 
}


.dropdown-menu {
  border: 0;
}


@include media-breakpoint-up(lg) {
  .navbar-sherpa li.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
  }
}


@include media-breakpoint-down(lg) {
  .internal .navbar-dark .navbar-toggler-icon {
    @include navbar-toggler(50535B);

    
  }

  .internal .navbar-dark [aria-expanded=true] .navbar-toggler-icon {
    @include navbar-toggler(ffffff);
  }
}