.home-module-5 {
  overflow: hidden;
  background: $sherpa-dark-color;
  color: $white;

  img {
    width: 329px;
    height: 329px;
    margin: 0 auto;
  }

  h2 {
    font-size: 44px;
    margin-bottom: .5em;
  }

  h3 {
    @include big-caslon();
    font-style: italic;
    margin-bottom: 1em;
    font-size: 22px;
  }


  .col:first-child {
    position: relative;
    z-index: 0;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    
    &::after {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     width: 50vw;
     background: url('../img/bg-construction.jpg') 0 0 no-repeat;
     z-index: -1;
     background-size: cover;
     height: 100%;
    }
  } 

  .col:last-child {

    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      margin-bottom: 0;
    }


    > div {
      justify-content: center;
      align-items: center;
      max-width: 90%;
    }
  }

  @include media-breakpoint-down(lg) {
  
    img {
      width: 165px;
      height: 165px;
    }

    .col:first-child::after {
       display: none;
    }

    .col:first-child {
      background: url('../img/bg-construction.jpg') 0 0 no-repeat;
      background-size: cover;
      padding: 2em;
    }

    .col:last-child {
      justify-content: center;
      align-items: center;
      padding: 2em 15px;
      text-align: center;

      p {
        margin-bottom: 0;
      }

      > div {
        padding-left: 0;
      }
    }
  }
}
