.home-module-3 {
  text-align: center;
  background: url("../img/mmmmmmaaaaaaaah.jpg") center top no-repeat;
  background-size: cover;
  color: $white; 
  text-align: left;
  color: #606060;

  .badge {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 403px;
    width: 403px;
    margin-left: auto;
  }

  p.blurb {
    @include serif();
    font-style: italic;
    font-size: 23px;
    line-height: 1.5; 
  }

  p {
    font-size: 15px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -.5px;
  }

  .extra-padding {
    padding: 180px 0;
  }
 

  @include media-breakpoint-down(lg) {
    background: url("../img/mmmmmmaaaaaaaah-sm.jpg") center 0 no-repeat;
    background-size: cover;
    padding: 20px 0;
  }
}
