@mixin therbal-small() {
  padding: 0;

  .col {
    height: 155px;

     &:first-child {
      background: url('../img/therbal-sm.jpg') 0 0 no-repeat;
      background-size: cover;
    }

    &:last-child {
      background: url('../img/eucalin-sm.jpg') 0 0 no-repeat;
      background-size: cover;
    }
  }

  .btn {
    display: none;
  }

  h2 {
    font-size: 29px;
    margin-bottom: 1em;
    letter-spacing: $letterSpacingSmall;
  }

  h3 {
    font-size: 17px;
    line-height: 1.5;
    display: block;
  }

  p {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 1.5;
  }
}

.home-module-2 {
  text-align: center;
  a {
    display: flex;
    width: 100%;
    height: 100%;
  }

  h2 {
    color: #4D4D4D;
    font-size: 44px;
  }

  h3 {
    color: #6D707C;
    font-style: italic;
    @include big-caslon();
    font-size: 23px;
    margin-bottom: 1em;
    line-height: 1.5;
  }

  p {
    margin-bottom: 0;
  }

  .col {
    display: flex;
  }

  @include media-breakpoint-up(md) {
    .col {
      height: 370px;

      
      .extra-padding {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 53px;
      }

      &:first-child {
        background: url('../img/therbal-lrg.jpg') 0 0 no-repeat;
        background-size: cover;
       
      }

      &:last-child {
        background: url('../img/eucalin-lrg.jpg') 0 0 no-repeat;
        background-size: cover;
      }
    }
  }


  @include media-breakpoint-up(lg) {
    .col {
      height: 570px;
    }
  }
  

  @include media-breakpoint-down(sm) {
    @include therbal-small();
  }
}


#sidebar {
  
  .home-module-2 {
    @include therbal-small();

    .row {
      flex-direction: column;

      .col {
        flex: 1;
      }
    }
  }

}