.home-module-8 {
    position: relative;
    overflow: hidden;

   &::before {
       content: '';
       background: $sherpa-dark-color;
       width: 100vw;
       height: 25%;
       position: absolute;
       top: 0;
   }

   h3 {
       @include big-caslon();
       font-style: italic;
       font-size: 17px;
       margin-bottom: 1.5em;
   }

   img {
       margin-bottom: 63px;
   }

   @include media-breakpoint-down(lg) {
       padding: 2em 0;


       h2 {
           font-size: 21px;
       }

      &::before {
          display: none;
      }

      img {
          margin-bottom: 0;
          width: 100%;
      }

      .col > div {
          @include dropshadow();
          padding: 2em 30px;
          margin-bottom: 20px;
      }

      p {
          margin-bottom: 0;
      }

      text-align: center;
   }
}