.home-module-2 {
  text-align: center;
  padding: 6em 0;

  h2 {
    color: #4D4D4D;
    font-size: 44px;
  }

  h3 {
    color: #6D707C;
    font-style: italic;
    @include big-caslon();
    font-size: 23px;
    margin-bottom: 1em;
    line-height: 1.5;
  }

  p {
    margin-bottom: 0;
  }
  

  @include media-breakpoint-down(lg) {
    padding: 2.5em 0;

    h2 {
      font-size: 29px;
      margin-bottom: 1em;
      letter-spacing: $letterSpacingSmall;
    }

    h3 {
      font-size: 17px;
      line-height: 1.5;
      display: block;
    }

    p {
      font-size: 15px;
      margin-bottom: 0;
      line-height: 1.5;
    }
  }
}
