.home-module-6 {
  background: #F1F1F1;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  

  h2 {
    font-size: 40px;
  }


  @include media-breakpoint-up(lg) {
   padding: 111px 0;
  }


  @include media-breakpoint-down(lg) {
    padding: 2em 0;
    background: $sherpa-brand-primary;
    color: $white;

    h2 {
      font-size: 20px;
      color: $white;
    }

    p {
      font-size: 15px;
    }

  }
}
