.home-module-5 {
    padding: 142px 0;

    h2 {
        font-size: 40px;
    }

    .col {
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    @include media-breakpoint-down(lg) {
       padding: 2em 0 0;
       text-align: center;

       h2 {
           font-size: 20px;
       }

       p {
           font-size: 15px;
       }
    }
}
