.home-module-7 {
    background: $sherpa-dark-color;
    color: $white;
    text-align: center;
    padding: 96px 0;

    h2 {
        font-size: 44px;
    }
        
    @include media-breakpoint-down(lg) {
        padding: 2em 15px;
    }
} 