.home-module-2 {
  text-align: center;
  padding: 4em 0;

  h2 {
    color: #4D4D4D;
  }

  h3 {
    color: #6D707C;
    font-style: italic;
    @include big-caslon();
    font-size: 21px;
    margin-bottom: 1em;
  }
}
