.home-module-3 {
  text-align: center;
  background: url("../img/mmmmmmaaaaaaaah.jpg") center top no-repeat;
  background-size: cover;
  color: $white; 
  text-align: left;
  color: #606060;

  .badge {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 403px;
    width: 403px;
    margin-left: auto;
  }

  p.blurb {
    @include serif();
    font-style: italic;
    font-size: 23px;
    line-height: 1.5; 
  }

  p {
    font-size: 15px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -.5px;
  }

  .extra-padding {
    padding: 180px 0;
  }
 

  @include media-breakpoint-down(lg) {
    padding: 20px 0;
    background: none;
    background: #F1F1F1;

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }

    .dark h2 {
      color: #726658;
    }

    p.blurb {

    }

    p {
      color: #606060;
    }

    .badge {
      background: url("../img/mmmmmmaaaaaaaah-sm.jpg") center 0 no-repeat;
      background-size: cover;
      padding: 5em 0;
    }

    img {
      height: 183px;
      width: 183px;
      margin: 0 auto;
    }

    .extra-padding {
      padding: 2em 0 0;
      text-align: center;
    }
  }
}
