.home-module-4 {
  background: #F1F1F1;
  padding: 142px 0;

  p.blurb {
    color: #818B4D;
    @include serif();
    font-style: italic;
  }

  .box {
    background: $white;
    @include dropshadow();
    padding: 2em;
    text-align: center;
    height: 100%;
    display: flex;

    img {
      max-width: 326px;
      margin: 0 auto;
    }

    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.13);
  }

  @include media-breakpoint-down(lg) {
    padding: 2em 0;

    text-align: center;

    .box {
      margin-bottom: 2em;
    }

    .box img {
      max-width: 100%;
    }


    h2 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }

}
