@mixin icon-small() {
  .row {
      flex-direction: row;

      .flex-col:first-child, .flex-col:nth-child(4) {
         background: #F4F3F2;
      }

      .flex-col:nth-child(2), .flex-col:nth-child(5) {
         background: #E8E8E8;
      }
    }

    a:hover .box::after {
      display: none;
    }

    a:hover svg path {
      fill: $white !important;
    }

    .flex-col .box {
      padding: 0 0;
    }

    &::after {
      display: none;
    }

    .flex-col svg {
      height: 24px;
      margin-bottom: 1em;
    }

    .flex-col a {
      height: auto;
      font-size: 9px;

      &:hover {
         background: $sherpa-brand-primary;
         color: $white;
      }
    }

    .row .flex-col {
      flex-basis: 50%;

      &:nth-child(3) {
        flex-basis: 100%;
        width: auto;
      }
    }


    img {
      display: none;
    }

    .flex-col .box {
      @include nodropshadow();
    } 

    .flex-col .box-bottom {
      padding: 2em;
    }
}

.icon-row {
  display: flex;
  @include acumin();
  position: relative;

  .container-fluid {
    padding: 0 0;
  }

  .flex-col {
    display: flex;
    justify-content: center;
    display: flex;
    position: relative;

    a {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $white;
      font-size: 12px;
      position: relative;
      color: $sherpa-dark-color;
      @include poppins();

      &:hover {
        .box::after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 20px 0 20px;
          border-color: #F11F31 transparent transparent transparent;
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
        }

        svg {
          path {
            fill: darken($sherpa-brand-primary, 10%);
          }
        }
      }
    }

    .box {
      width: 100%;
      height: 100%;
      padding: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      @include dropshadow();
      position: relative;
    }

    .box-bottom {
      width: 100%;
      padding: 4em;
      text-align: center;

      span { 
        letter-spacing: 1px;
      }
    }
 
    svg {
      height: 46px;
      display: block;
      margin: 0 auto .5em;
    }
  }

  @include media-breakpoint-down(lg) {
    margin: 30px;
    margin-top: -50px;
    @include dropshadow-thin();
  }
}

@include media-breakpoint-down(lg) {
  .icon-row {
    @include icon-small(); 

   
  }
}

.internal .icon-row .box {
  display: none;
}

#sidebar .icon-row {
  flex-direction: column;
  @include icon-small();
  @include dropshadow();  

   svg {
      height: 34px;
    }

    .flex-col a {
      font-size: 12px;
    }

    .flex-col .box-bottom {
      padding: 3em;
    }

    @include media-breakpoint-down(lg) {
        margin-top: 5px;
    }
}