@mixin icon-small() {
  .row {
      flex-direction: row;
    }

    &::after {
      display: none;
    }

    .flex-col svg {
      height: 25px;
      margin-bottom: 1em;
    }

    .flex-col {
      height: 124px;
      text-align: center;
      border-bottom: 0;
      padding: 0 0;
      border-left: 1px solid rgba(255,255,255,0.5);
      border-right: 0;

      &:hover {
        border-bottom: 0;
       
      }
    }

    .flex-col:first-child, .flex-col:last-child, .flex-col:nth-child(2) {
      background: #50535B;
    }

    .flex-col::before, .flex-col::after {
      display: none;
    }

    .flex-col a {
      height: auto;
      font-size: 9px;

      &:hover {
         background: $sherpa-brand-primary;
      }
    }
}

.icon-row {
  display: flex;
  @include acumin();
  position: relative;

  &::after {
     background: #d1d1d1;
     position: absolute;
     content: '';
     bottom: 0;
     left: 0;
     height: 8px;
     width: 100%;
     z-index: -1;
  }

  .flex-col {
    display: flex;
    justify-content: center;
    display: flex;
    position: relative;
    border-left: 1px solid $white;
    border-right: 1px solid $white;
    padding-bottom: 8px;
    border-bottom: 8px solid #d1d1d1;

    &::before {
      content: '';
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover::before, &.active::before {
      background: rgba(239, 45, 0, 0.59);
    }

    &:hover, &.active {
      border-bottom: 8px solid $sherpa-brand-primary;
    }

    &::after {
      height: 8px; 
      background: $white;
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    a {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      height: 459px;
      flex-direction: column;
      color: $white;
      font-size: 17px;
      letter-spacing: $letterSpacing;
      position: relative;
    }
 
    svg {
      height: 46px;
      margin-bottom: .5em;
    }

    &:first-child {
      background: url('../img/bg-icon-1.jpg') 0 0 no-repeat;
      background-size: cover;
      border-left: 0;
    }

    &:nth-child(2) {
      background: url('../img/bg-icon-2.jpg') 0 0 no-repeat;
      background-size: cover;

    }

    &:last-child {
      background: url('../img/bg-icon-3.jpg') 0 0 no-repeat;
      background-size: cover;
      border-right: 0;
    }
  }

  
}

@include media-breakpoint-down(lg) {
  .icon-row {
    @include icon-small();
  }
}

#sidebar .icon-row {
  flex-direction: column;
  padding: 20px;
  background: #F4F4F4;

  &::after {
    display: none;
  }

  .row {
    flex-direction: column;

    .flex-col {
      flex: 1;
      padding-bottom: 0;
      border-bottom: 0;
      margin-bottom: 10px;

      &::after {
        display: none;

      }

      a {
        height: 191px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .row {
      .flex-col a {
        height: auto;
      }
    }
  }
}