.jumbotron {
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 588px;
  margin-bottom: 0;

 
  h1 > span {
    background: url('../img/health-product.svg') center 0 no-repeat;
    background-size: contain;
     display: block;
     position: relative;
     height: 54px;
    text-indent: -99999px;
    margin-bottom: .5em;
  }

  h1 {
    line-height: 1;
    margin-bottom: 0;
    font-style: normal;
    color: $white; 

    > div {
      @include raleway();
      font-size: 86px;
      font-weight: 600;
      margin-bottom: .25em;
      letter-spacing: -1px;
    }
  }
    

  .jumbo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 100%;

    em {
      font-size: 29px; 
      letter-spacing: 0; 
       margin-bottom: 2em;
      display: block;
      @include serif();
    }
  }

  .jumbo-content > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .jumbo-content > div a {
    margin-right: 20px;
    display: block;

    &:last-child {
      margin-right: 0;
    }
  }

  .social-media {
    margin-bottom: 0;
    position: absolute;
    right: 15px;
    top: 15px;

    a {
      color: $white;
    }
  }

  @include media-breakpoint-down(lg) {

    height: 410px;
    padding-top: 4.25em;

    .social-media {
      left: 20px;
      right: auto;
      top: 20px;

       a {
         font-size: 9px;
         width: 20px;
         height: 20px;
       }
    }


    h1 {
      margin-bottom: 1.2em;

    }

    h1 > span {
      font-size: 13px;
      border-bottom: 1px solid rgba(255,255,255,.41);
      letter-spacing: 0;

      &::after {
        content: '';
        border-bottom: 1px solid $white;
        width: 177px;
      }
    }

    h1 div {
      font-size: 44px;
      letter-spacing: 1px;
    }

    .jumbo-content em {
      font-size: 14px;
      letter-spacing: 0;
      display: block;
      margin-top: 1em;
      margin-bottom: 0;
      line-height: 1.5;
    }

    .jumbo-content > div a {
      margin-right: 15px;
    }

    h2,
    .h2 {
      font-size: 15px;

      &::after {
        width: 141px;
      }
    }

    .btn-transparent {
      font-size: 10px !important;
    }
  }
}
