.jumbotron {
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 588px;
  margin-bottom: 0;

  h1 > span {
    @include montserrat();
    font-weight: 700;
    font-size: 26px;
    position: relative;
    display: block;
    padding-bottom: 0.5em;
    margin-bottom: .5em;
    letter-spacing: 1px;

    &::after {
      content: '';
      border-bottom: 1px solid $white;
      width: 367px;
      display: block;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  h1 {
    line-height: 1;
    margin-bottom: 0;
    @include acumin();
    font-style: normal;
    color: $white; 

    em {
      font-size: 23px;
      margin-bottom: 2em;
    }

    > div {
      font-size: 80px;
      margin-bottom: .25em;  
    }
  }
    

  .jumbo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 100%;

    em {
      @include big-caslon();
      font-size: 23px; 
      letter-spacing: 0; 
      display: block;
    }
  }

  .jumbo-content > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .jumbo-content > div a {
    margin-right: 20px;
    display: block;

    &:last-child {
      margin-right: 0;
    }
  }

  .social-media {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(lg) {

    height: 410px;
    padding-top: 4.25em;

    .social-media {
      left: 20px;
      right: auto;
      top: 20px;

       a {
         font-size: 9px;
         width: 20px;
         height: 20px;
       }
    }


    h1 {
      margin-bottom: 1.2em;

    }

    h1 > span {
      font-size: 13px;
      border-bottom: 1px solid rgba(255,255,255,.41);
      letter-spacing: 0;

      &::after {
        content: '';
        border-bottom: 1px solid $white;
        width: 177px;
      }
    }

    h1 div {
      font-size: 44px;
      letter-spacing: 1px;
    }

    .jumbo-content em {
      font-size: 14px;
      letter-spacing: 0;
      display: block;
      margin-top: 1em;
      margin-bottom: 0;
      line-height: 1.5;
    }

    .jumbo-content > div a {
      margin-right: 15px;
    }

    h2,
    .h2 {
      font-size: 15px;

      &::after {
        width: 141px;
      }
    }

    .btn-transparent {
      font-size: 10px !important;
    }
  }
}
