.jumbotron {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 778px;
  margin-bottom: 0;

  h1 span {
    @include montserrat();
    font-weight: 700;
    font-size: 26px;
    border-bottom: 1px solid $white;
    display: block;
    padding-bottom: 0.5em;
    margin-bottom: .5em;
  }

  h1 {
    line-height: 1;
    margin-bottom: 0.5em;
  }

  h1 {
    @include acumin();
    font-style: normal;
    color: $white;
  }

  h1 em {

  }

  h1 > div {
    font-size: 80px;
  }

  .jumbo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 100%;

    em {
      @include big-caslon();
      font-size: 23px;
    }
  }

  .contact-us {
    margin-bottom: auto;
  }

  .learn-more {
    margin-top: auto;
    color: $white;
    display: block;
  }

  @include media-breakpoint-down(lg) {
    h2,
    .h2 {
      font-size: 15px;

      &::after {
        width: 141px;
      }
    }

    .btn-transparent {
      font-size: 10px !important;
    }
  }
}
