.ribbon {
  @include acumin();
  
  .col {
    justify-content: center;
    display: flex;
    padding-top: 33px;
    padding-bottom: 33px;
  }

  a {
    color: #606060;
    letter-spacing: $letterSpacing;


    &:hover {
      color: $sherpa-brand-primary;
    }
  }

  ul {
    display: flex;
    margin-bottom: 0;

    li {
      display: flex;
    }

    li::after {
      content: "//";
      display: block;
      position: relative;
      width: auto;
      height: auto;
      padding: 0 2em;
    }

    li:last-child {
      &::after {
        display: none;
      }
    }
  }

}
