@mixin ribbon-small() {
  .row {
    flex-direction: row;

    .col {
      flex-basis: 20%;
      padding: 1em 1em;

      img {
        max-height: 32px;
      }

      &:nth-child(1) {
        order: 0;
        flex-basis: 15%;
      }

      &:nth-child(2) {
        order: 8;
      }

      &:nth-child(3) {
        order: 2;
        flex-basis: 30%;
      }

      &:nth-child(4) {
        order: 9;
      }

      &:nth-child(5) {
        order: 5;
        flex-basis: 15%;
      }

      &:nth-child(6) {
        order: 6;
      }

      &:nth-child(7) {
        order: 8;
      }

      &:nth-child(8) {
        order: 2;
        flex-basis: 33%;
      }

      &:nth-child(9) {
        order: 9;
      }
    }
  }
}

.ribbon {
  @include acumin();

  .col {
    justify-content: center;
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;
    @include dropshadow();

    &.fibra {
      background: #a1d700;
    }
  }

  img {
    align-self: center;
  }

  a {
    color: #606060;
    letter-spacing: $letterSpacing;

    &:hover,
    &.active {
      color: $sherpa-brand-primary;
    }
  }

  ul {
    display: flex;
    margin-bottom: 0;

    li {
      display: flex;
    }

    li::after {
      content: "//";
      display: block;
      position: relative;
      width: auto;
      height: auto;
      padding: 0 2em;
    }

    li:last-child {
      &::after {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    @include ribbon-small();
  }
}

#sidebar {
  .ribbon {
    @include ribbon-small();
  }
}
